@import 'tailwindcss';

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-theme-blue: #879def;
  --color-theme-cyan: #98fafa;
  --color-theme-green: #19faae;
  --color-theme-yellow: #fdfd88;
  --color-theme-orange: #fcd08f;
  --color-theme-red: #fa9b88;
  --color-off-black: #212223;
  --color-off-white: #fcfcfc;

  --font-main: 'Plus Jakarta Sans', 'sans-serif';
}

/* custom class for main dashboard layout */
.dashboard-grid {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-areas:
    'form form form bmi calories calories'
    'macro hrz hrz hrz calories calories'
    'macro hrz hrz hrz weight weight';
}

@media (max-width: 1080px) {
  .dashboard-grid {
    grid-template-areas:
      'form form bmi'
      'macro hrz hrz'
      'macro hrz hrz'
      'calories calories weight'
      'calories calories weight';
  }
}

@media (max-width: 700px) {
  .dashboard-grid {
    grid-template-areas:
      'form'
      'bmi'
      'hrz'
      'calories'
      'macro'
      'weight';
  }
}

/* classes for grid areas assignment */
.cell-form {
  grid-area: form;
}
.cell-bmi {
  grid-area: bmi;
}
.cell-calories {
  grid-area: calories;
}
.cell-macro {
  grid-area: macro;
}
.cell-hrz {
  grid-area: hrz;
}
.cell-weight {
  grid-area: weight;
}

/* fade-in animatino for modal */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 150ms forwards ease-out;
}
